<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/AdminStylin.css">
    <title>Admin Events</title>
</head>
<body>
    <div class="banner">
        <div>
            <button class="button">Back</button>
        </div>
        <div class="logo-container">
            <div class="text-logo">HH</div>
            <div class="text-admin">| Admin</div>
        </div>
        <div>
            <button class="button" id="createEvent">Create Event</button>
            <button class="button">Filters</button>
            <button class="button">Sign Out</button>
        </div>
    </div>
    <div class = "text-upcoming">Upcoming Events</div>
    <div class = "underline"></div>
    <div class="container" id="eventContainer">
        <!-- Records will be dynamically added here -->
        <div id="overlay"></div>
    </div>
    <script src="AdminEventPage.js"></script>
</body>
</html>