<!DOCTYPE html>


<html>
  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="../css/signupstyle.css" />
  </head>
  
  <!-- Main content of page. -->
  <body>
    
    <div class="volunteer-sign-up">
      <div class="overlap-wrapper">
        <div class="overlap">
          <div class="frame">
            <div class="overlap-group">
              <div class="h1">
                <div class="h"><div class="text-wrapper">H</div></div>
                <div class="HELPERS"><div class="text-wrapper-10">ELPERS</div></div>
                <div class="ORNET"><div class="text-wrapper-2">ORNET</div></div>
                <img class="line" src="https://cdn.animaapp.com/projects/6620354164a667b0f90585ee/releases/662fe40a3963d74fbfb477ab/img/line-13.svg"/>
                <p class="p">Become a Career Center Volunteer</p>
               <div class="text-wrapper-3">First name:</div>
                  <!-- Textbox for user first name. -->  
                  <input type="text" id="adjustTextbox"/>
                </div>
                
                <button class = "backbtn" id="backbtn">Back</button>

                <!-- Text located next to HH logo. -->
                <div class="text-wrapper-4">Registration</div>
                
                <div class="overlap-2">
                  <div class="text-wrapper-5">Last name:</div>
                  <!-- Textbox for user last name. -->
                  <input type="text" id="adjustTextbox2"/>
                </div>

                <div class="overlap-3">
                  <div class="text-wrapper-6">Email:</div>
                  <!-- Textbox for user email. -->
                  <input type="text" id="adjustTextbox3"/>
                </div>
                
                <div class="overlap-4">
                  <div class="text-wrapper-7">Student ID:</div>
                  <!-- Textbox for user student id. -->
                  <input type="text" id="adjustTextbox4"/>
                </div>

                <div class="overlap-5">
                  <div class="text-wrapper-8">Password:</div>
                  <!-- Textbox for user student id. -->
                  <input type="password" id="adjustTextbox5"/>
                </div>
               
                <!-- Submit button at bottom of page. -->
                <button id="SubmitButton">Sign Up</button>
               
                <img class="vector" src="https://cdn.animaapp.com/projects/6620354164a667b0f90585ee/releases/662fe40a3963d74fbfb477ab/img/vector.svg"/>
                <img class="img" src="https://cdn.animaapp.com/projects/6620354164a667b0f90585ee/releases/662fe40a3963d74fbfb477ab/img/vector-1.svg" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    
    <!-- Reference to js file (event listeners, event handlers, etc.). -->
    <script src="../scripts/sign_up_event.js"></script>
  </body>
</html>
