<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href = "../public/css/volupstyle.css">
    <title>Admin Events</title>
</head>
<body>
    <div class="banner">
        <div>
            <button class="button">Sign Out</button>
        </div>
        <div class="logo-container">
            <div class="text-logo">HH</div>
            <div class="text-admin">| Volunteer</div>
        </div>
        <div>
            <button class="button">Filters</button>
            <button class="button">Feedback</button>  
        </div>
    </div>
    <div class = "text-upcoming">Upcoming Events</div>
    <div class = "underline"></div>

    <div class="container" id="eventContainer">
        <div id="event-list"></div>
        <!-- Records will be dynamically added here -->
        <div id="overlay"></div>
    </div>
    <script src="../scripts/volup.js"></script>
</body>
</html>